body {
    background-color: #f8f9fa;
}
header {
    background-color: green;
    color: white;
    padding: 20px 0;
    text-align: center;
}
footer {
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
main {
    padding: 20px 0;
}
.container {
    margin-top: 20px;
}